<div class="row">

	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">List Items</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
					<div class="zcontrols">
						<select name="action" class="form-control slbAction">
							<option value="">Bulk Action</option>
							<option value="/item/change-status/active">Active</option>
							<option value="/item/change-status/inactive">InActive
							</option>
							<option value="/item/save-ordering/">Change Ordering
							</option>
							<option value="/item/delete/">Delete</option>
						</select>
						<button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction" disabled>
							Apply
						</button>
						<div class="pull-right">
							<a href="/item/form" class="btn btn-warning btn-addNew">Add
								New </a>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>
										<input type="checkbox" class="cbAll" />
									</th>
									<th>#</th>
									<th>Name</th>
									<th>Status</th>
									<!-- <th width="30%">Content</th> -->
									<th>Ordering</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="checkbox" name="cid" value="5a9e5a96da67bc078421d7d6" />
									</td>
									<td>1</td>
									<td>Super Admin</td>
									<td>
										<a href="/item/change-status/5a9e5a96da67bc078421d7d6/active">
											<span class="label label-success">active</span>
										</a>
									</td>
									<td>
										<input type="number" value="2" class="text-center ordering" />
									</td>
									<td>
										<a href="/item/form/5a9e5a96da67bc078421d7d6" type="button"
											class="btn btn-warning btn-sm">Edit</a>
										<a href="/item/delete/5a9e5a96da67bc078421d7d6" type="button"
											class="btn btn-danger btn-sm btn-delete">Delete</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" name="cid" value="5abdc9aa598c600b6c7fd56b" />
									</td>
									<td>2</td>
									<td>Editor</td>
									<td>
										<a href="/item/change-status/5abdc9aa598c600b6c7fd56b/active">
											<span class="label label-success">active</span>
										</a>
									</td>
									<td>
										<input type="number" value="3" class="text-center ordering" />
									</td>
									<td>
										<a href="/item/form/5abdc9aa598c600b6c7fd56b" type="button"
											class="btn btn-warning btn-sm">Edit</a>
										<a href="/item/delete/5abdc9aa598c600b6c7fd56b" type="button"
											class="btn btn-danger btn-sm btn-delete">Delete</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" name="cid" value="5af7d6a306b3d71a08df04b1" />
									</td>
									<td>3</td>
									<td>Manager</td>
									<td>
										<a href="/item/change-status/5af7d6a306b3d71a08df04b1/active">
											<span class="label label-success">active</span>
										</a>
									</td>
									<td>
										<input type="number" value="3" class="text-center ordering" />
									</td>
									<td>
										<a href="/item/form/5af7d6a306b3d71a08df04b1" type="button"
											class="btn btn-warning btn-sm">Edit</a>
										<a href="/item/delete/5af7d6a306b3d71a08df04b1" type="button"
											class="btn btn-danger btn-sm btn-delete">Delete</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" name="cid" value="5af7d6d506b3d71a08df04b2" />
									</td>
									<td>4</td>
									<td>Manager</td>
									<td>
										<a href="/item/change-status/5af7d6d506b3d71a08df04b2/active">
											<span class="label label-success">active</span>
										</a>
									</td>
									<td>
										<input type="number" value="3" class="text-center ordering" />
									</td>
									<td>
										<a href="/item/form/5af7d6d506b3d71a08df04b2" type="button"
											class="btn btn-warning btn-sm">Edit</a>
										<a href="/item/delete/5af7d6d506b3d71a08df04b2" type="button"
											class="btn btn-danger btn-sm btn-delete">Delete</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>