<!DOCTYPE html>
<html>
	<%- incluce('../elements/head') %>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %> - JS</p>
		<a href="#">Test</a>
	</body>
</html>
<!-- 
	pages
		home
		about
		items
			add
			list
	element
		header, navbar, sidebar
 -->
